.btn {
  padding: 10px 20px;
  border: none;
  background-color: orange;
  font-size: 1.2rem;
}
.btn:hover {
  background-color: darkorange;
  cursor: pointer;
}
.btn:active {
  background-color: 	#FFD580;
}